@import "snowflake";


body {
  width: 80%;
  margin: auto;
}

.message {
  @include message();
}

.divider {
  @include divider();
}

.group {
  @include flex-group;
}
.block {
  @include flex-block;
}

.block-25 {
  @include flex-block(25%);
}
.background {
  background-color: rgba(147,128,108,.1);
  padding: .5rem;
  text-align: center;
  width: 100%;
}
.first-cell {
  @include grid-order(-42);
}