* {
  box-sizing: border-box;
}

// Base components
@import "components/normalize";
@import "components/typography";

// Modules
@import "components/messages";
.message {
  @include message();
}

@import "components/divider";
.divider {
  @include divider();
}




body {
  width: 80%;
  margin: auto;
}