@mixin button(
  $background: #999,
  $colour: black,
  $border-radius: 4px
) {
  display: inline-block;

  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  text-decoration: none;
  text-align: center;

  background-color: $background;
  color: $colour;
  border: none rgba(0, 0, 0, 0);
  border-radius: $border-radius;
  outline: 0;

  padding: 0.75rem 1.2rem;
  user-select: none;
  box-shadow: inset 0 .1rem 0 rgba(0, 0, 0, 0.1), inset 0 -.15rem 0 rgba(0, 0, 0, 0.2), 0 .15rem 0 rgba(0, 0, 0, 0.075);

  &:hover {
    background-color: scale_color($background, $lightness: 15%);
  }

  &:active {
    background-color: scale_color($background, $lightness: -15%);
  }

  &:visited {
    color: $colour;
  }

  &--disabled {
    opacity: 0.3;
    cursor: not-allowed;
    pointer-events: none;
  }
}
