// A hr with some content in the middle
// $border-position can be either centered or doubled, as in 2 lines for each
// side
@mixin divider(
  $border: 1px solid black,
  $border-position: "center",
  $center-padding: 1.5rem // augment that if the thing in the middle is big
) {
  text-align: center;
  display: flex;

  &:after, &:before {
    content: "";
    flex: 1;

    border-top: $border;
    @if $border-position == "center" {
      margin: .7rem 0;
    } @else {
      margin: .45em 0;
      border-bottom: $border;
    }
  }

  &:before {
    margin-right: $center-padding;
  }

  &:after {
    margin-left: $center-padding;
  }
}
