
// Nice colours:
// info: #4067ab
// warning: #c87e00
// error: #b10e0e
// success: #226b36

@mixin message($colour: #b10e0e, $border-radius: .2rem) {
  text-align: left;
  padding: .75rem;
  margin: 1.5rem 0;
  border-radius: $border-radius;

  color: $colour;
  background-color: scale_color($colour, $lightness: 90%);
  border: 1px solid scale_color($colour, $lightness: 70%);
}
