@import "../scss/main";

$blue: #3FA9F5;
$red: #E95A4C;
$green: #7AC943;

// design stuff
header {
  background: #000;
  color: white;
}
nav {
  background: #ccc;
  border-right: 1px solid black;
  padding: 1rem;
}

// Layout
.grid-frame {
  @include grid-frame($orientation: "vertical");
}
.grid-block {
  @include grid-block;
}
header {
  @include grid-content($behaviour: "fit");
}
nav.sidebar {
  @include grid-content($padding: 1rem);
  @include grid-size(20%);
}
.content {
  @include grid-content($padding: 1rem);
  @include grid-size(80%);
}
.grid-container {
  @include grid-container;
}

// Grid demo
#grid .grid-demo {
  height: 100px;
  padding: 0.5rem;
}

.demo-block {
  @include grid-block;
  background-color: rgba(0, 85, 139, 0.1);
  margin: 0.5rem;
  color: white;
  font-size: 2rem;
}
.demo-block-vertical {
  @include grid-block($orientation: "vertical");
  background-color: rgba(0, 85, 139, 0.1);
  margin: 0.5rem;
}
.block-container {
  @include grid-container($width: 400px);
  width: 400px;
  height: 80px;
  background-color: rgba(0, 85, 139, 0.1);
}
.block-fit {
  width: 42px;
  @include grid-fit;
}

.block-percent {
  @include grid-size(33%);
}
.block-order-2 {
  @include grid-order(2);
}
.text {
  color: white;
  font-size: 2rem;
  @include grid-justify("center");
  @include grid-align("center");
}


// Components
.alert-success {
  @include alert($green);
}
.alert-error {
  @include alert($red);
}
.inline-list {
  @include inline-list;
}
button, .button {
  @include button;
}
.divider {
  @include divider;
}
table {
  @include table;
}
.media {
  @include media-object;
}
.label {
  @include label;
}
.arrow {
  padding: 1rem;
  background: #ccc;
  @include arrow;
}

// Forms
input {
  @include input;
}
