// A hr with some content in the middle
@mixin divider(
  $border: 1px solid black,
  $center-padding: 1.5rem // augment that if the thing in the middle is big
) {
  text-align: center;
  display: flex;

  &:after, &:before {
    content: "";
    flex: 1;
    margin: .7rem 0;
    border-top: $border;
  }

  &:before {
    margin-right: $center-padding;
  }

  &:after {
    margin-left: $center-padding;
  }
}
