/*
* The grid is using flexbox and is quite similar
* to the one in foundation apps.
*/

$flexbox-spacing: .5rem !default;

// equivalent to rows/containers in other framework
@mixin flex-group($direction: row, $align-items: stretch, $padding: $flexbox-spacing) {
  display: flex;
  flex-wrap: wrap;
  flex-direction: $direction;
  align-items: $align-items;

  margin-left: -$flexbox-spacing;
  margin-right: -$flexbox-spacing;

  padding: $flexbox-spacing 0;
}

// size is either 1 (equally divided) or a percent
// offset is in %
@mixin flex-block($size: 1, $padding: $flexbox-spacing, $offset: 0){
  display: flex;
  @if ($size == 1) {
    flex: 1;
  } @else {
    flex: 0 0 $size;
  }
  padding-left: $padding;
  padding-right: $padding;
  margin-left: $offset;
}

// Items with lower number appear first
@mixin grid-order($order: 0) {
  order: $order;
}
