/*
* ALERT
* -------
* The classic notification used for success/errors
*/

/// Creates an alert using the color given.
///
/// @param {Color} $color [0]
///   Main color of the message
@mixin alert($color: green) {
  color: $color;
  font-weight: bold;
  border: 3px solid $color;
  border-radius: 2px;
  padding: 0.5rem;
  margin-bottom: 1.25rem;
}
