/*
  ARROW
  -------
  
  CSS arrow, to be used for tooltips for example
*/

/// Create an arrow at the given position with quite a few options
///
/// @param {String} $direction [top]
///   Where the arrow is pointing: top|bottom|left|right
/// @param {Number} $size [10px]
///   Size of the arrow
/// @param {Color} $direction [#ccc]
///   Color of the arrow
/// @param {Number} $position [50%]
///   Position of the arrow, 50% means in the center
/// @param {Number} $position [50%]
///   Position of the arrow, 50% means in the center
/// @param {Number} $margin [-1px]
///   Controls how far out/in the arrow is from the container
/// @param {Boolean} $set-relative [true]
///   Whether to set the arrow mixin as position: relative. Useful when putting
///   on a position: absolute element
@mixin arrow(
  $direction: top,
  $size: 10px,
  $color: #ccc,
  $position: 50%,
  $margin: -1px,
  $set-relative: true
) {
  @if $set-relative == true {
    position: relative;
  }
  border-color: $color;

  &:before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-color: $color;

    @if $direction == "right" {
      top: $position;
      left: 100%;
      margin-left: $margin;
      margin-top: $size * -1;
      border-top: $size solid transparent;
      border-bottom: $size solid transparent;
      border-left: $size solid $color;
      border-left-color: inherit;
    } @else if $direction == "down" {
      top: 100%;
      left: $position;
      margin-top: $margin;
      margin-left: $size * -1;
      border-left: $size solid transparent;
      border-right: $size solid transparent;
      border-top: $size solid $color;
      border-top-color: inherit;
    } @else if $direction == "left" {
      top: $position;
      right: 100%;
      margin-right: $margin;
      margin-top: $size * -1;
      border-top: $size solid transparent;
      border-bottom: $size solid transparent;
      border-right: $size solid $color;
      border-right-color: inherit;
    } @else {
      bottom: 100%;
      left: $position;
      margin-bottom: $margin;
      margin-left: $size * -1;
      border-left: $size solid transparent;
      border-right: $size solid transparent;
      border-bottom: $size solid $color;
      border-bottom-color: inherit;
    }
  }
}
