// From http://codepen.io/toddpadwick/pen/KzLBrW

$global-lineheight: 28px !default;

// To be applied to body
@mixin baseline-grid($global-lineheight: 28px) {
  position: relative;

  &::after {
    position: absolute;
    width: auto;
    height: auto;
    z-index: 9999;
    content: '';
    display: block;
    pointer-events: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: repeating-linear-gradient(
      to bottom, 
      transparent 0px, 
      transparent ($global-lineheight - 1), 
      red ($global-lineheight - 1), 
      red $global-lineheight
    );
  }

  &:active::after {
    display:none;
  }
}

// Line height must be a multiple of 28px
// font-size's must be a multiple of 7px 

// applied to body as well
@mixin typography($global-lineheight: 28px, $font-size-base: 7px) {
  font-size: $font-size-base * 3;

  p {
    line-height: $global-lineheight;
    margin: 0 0 $global-lineheight 0;
  }

  h3 {
    font-size: $font-size-base * 4;
    line-height: $global-lineheight * 2;
    margin: 0 0 $global-lineheight 0;
  }

  h2 {
    font-size: $font-size-base * 6;
    line-height: $global-lineheight * 2;
    margin: 0 0 $global-lineheight 0;
  }

  h1 {
    font-size: $font-size-base * 8;
    line-height: $global-lineheight * 2;
    margin: 0 0 $global-lineheight 0;
  }

  @include respond-to('small') {
    font-size: $font-size-base * 2.5;

    h3 {
      font-size: $font-size-base * 3;
    }

    h2 {
      font-size: $font-size-base * 4;
    }

    h1 {
      font-size: $font-size-base * 6;
    }
  }
}

